<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Header-Section -->
<section id="header-section">
  <div class="toolbar" role="banner">
    <span id="header-first-letter">J.</span>
    <div class="spacer"></div>
    <a>Projects</a>
    <a>About</a>
    <a>Contact</a>
  </div>

  <div style="padding-left: 2rem; padding-top: 1rem; display: flex; gap: 5rem; justify-content: center; align-items: center" id="introduction">
    <div>
      <span style="font-size: 2rem">Hi, I'm Jeffrey</span>
      <p style="padding-top: .5rem">I am a Software Engineer interested in all different kinds of technologies.<br><br>
      Currently based in <strong>Munich, Germany</strong>.<br><br>
      I have programming experience for about a year and I've build several projects with all different kids of technologies.<br>
      Currently I am attending an apprenticeship <strong>@hoffmann group munich</strong>.
      </p>
      <button (click)="checkoutWork()" id="work-checkout-btn" style="margin-top: 1.5rem; font-size: 1rem; cursor: pointer; border-radius: 1rem; border: none">Check out my work</button>
    </div>
    <div>
      <img id="profile-pic" style="width: 12rem; height: auto; border-radius: 1rem" src="assets/Ejeanye%20Jeffrey.jpg">
    </div>
  </div>

</section>

<!-- Programming-Stack-Section -->
<section id="programming-stack-section" style="padding-top: 1rem;">
    <div style="display: flex; gap: 5rem; justify-content: center; margin-top: 2rem; flex-wrap: wrap;" id="stack-container">
      <img src="assets/Github.png">
      <img src="assets/NodeJs.png">
      <img src="assets/Javascript.png">
      <img src="assets/Java.png">
      <img src="assets/Mysql.png">
    </div>
</section>

<!-- Project-Showcase-Section -->
<section id="project-showcase-section" style="padding-top: 1rem;">
<h1 style="color: #ffff; font-size: 3rem; text-align: center; text-decoration: underline; text-decoration-color: #1976d2;">Projects</h1>
  <div style="display: flex; gap: 5rem; justify-content: center; margin-top: 3rem; flex-wrap: wrap;" id="projects-container">

    <!-- Emojiquiz-Framework -->
    <div id="emojiquiz-container" style="display: flex; flex-direction: column">
      <h2 style="color: #fff; text-align: center; margin-bottom: 2rem;">Discord emojiquiz framework</h2>
      <img src="assets/Emojiquiz.png">
      <div style="display: flex; justify-content: center; gap: 2rem">
        <button (click)="emojiquizPreview()"  class="project-btn">Live Preview</button>
        <button (click)="emojiquizSource()" class="project-btn">Source</button>
      </div>
    </div>

    <!-- Memory -->
    <div id="memory-container" style="display: flex; flex-direction: column">
      <h2 style="color: #fff; text-align: center; margin-bottom: 2rem;">Memory Game</h2>
      <img style="width: 450px; height: auto" src="assets/Memory.jpeg">
      <div style="display: flex; justify-content: center; gap: 2rem">
        <button (click)="memoryPreview()" class="project-btn">Live Preview</button>
        <button (click)="memorySource()" class="project-btn">Source</button>
      </div>
    </div>


    <!-- Bookmark Landing Page -->
    <div id="bookmark-container" style="display: flex; flex-direction: column">
      <h2 style="color: #fff; text-align: center; margin-bottom: 2rem;">Bookmark Landing Page</h2>
      <img style="width: 450px; height: auto" src="assets/Bookmark-Landing-Page.jpeg">
      <div style="display: flex; justify-content: center; gap: 2rem">
        <button (click)="bookmarkPreview()" class="project-btn">Live Preview</button>
        <button (click)="bookmarkSource()" class="project-btn">Source</button>
      </div>
    </div>
  </div>
</section>


<section id="footer">
  <div id="footer-container" style="display: flex; flex-direction: column">
    <div style="display: flex; flex-direction: column; align-items: center">
      <span style="color: #1976d2; margin-bottom: .4rem">Made with Angular ❤️.</span>
      <hr style="padding-left: 20rem; padding-right: 20rem; margin: 0">
      <span style="color: #1976d2; margin-top: .4rem">© 2023 Jeffrey Ejeanye. All rights reserved.</span>
    </div>
  </div>
</section>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
